@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply bg-slate-50 text-slate-900;
  overscroll-behavior-y: none;
}
.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}